.image{
  position: relative;
  transition: all 0.2s;
  &__btn{
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
  }
  .active{
    opacity: 1;
  }
}


